@model Plantvana.ViewModels.HomeIndexViewModel
@section css {
    <link href="@Url.Content("~/main.css")" rel="stylesheet"/>
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="main.css">
    <title>Plantvana - where you'll find your next vegan bodega'</title>
</head>
<body>
    <main>
      <h1 class="header">Plantvana</h1>
      <p class="header">
        "@Model.CurrentMessage"
      </p>
      <div class="restaurants" >
        @foreach(var restaurant in Model.Restaurants) {
            <article class="restaurant">
                <h3 class="">@restaurant.Name</h3>
                <img class="image" src="@restaurant.Thumbnail"/>
                <a class="" asp-action="Details" asp-route-id="@restaurant.Id">More</a>
            </article>
        }
      </div>              
      <div class="footer">
        <a asp-action="Create">Add a restaurant</a>
      </div>          
    </main>
</body>
</html>