@model Plantvana.ViewModels.HomeIndexViewModel
@section css {
    <link href="@Url.Content("~/main.css")" rel="stylesheet"/>
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="main.css">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Russo+One|Homemade+Apple|Merienda+One" rel="stylesheet">  
    <title>PlantVana - where you'll find your next vegan bodega'</title>
</head>
<body>
    <main class="wrapper">
      <header class="main-header">
            <a href="#main-menu" 
               class="menu-toggle"
               role="button"
               id="main-menu-toggle"
               aria-expanded="false"
               aria-controls="main-menu"
               aria-label="Open main menu">
                    <span class="sr-only">Open main menu</span>
                    <span class="fa fa-bars" aria-hidden="true"></span>
            </a>              
            <h1 class="logo">Plantvana</h1>
            <nav id="main-menu" 
                 class="main-menu"
                 role="navigation"
                 aria-expanded="false"
                 aria-label="Main menu">
                <ul>
                    <li class="nav-item">
                            <a href="#main-menu-toggle" 
                               class="menu-close"
                               role="button"
                               id="main-menu-close"
                               aria-expanded="false"
                               aria-controls="main-menu"
                               aria-label="Close main menu">
                                    <span class="sr-only">Close main menu</span>
                                    <span class="far fa-times-circle" aria-hidden="true"></span>
                            </a>
                    </li>    
                    <li class="nav-item"><a asp-action="Create">Add restaurant</a></li>
                    <li class="nav-item"><a href="">About</a></li>
                    <li class="nav-item"><a href="">Contact</a></li>
                </ul>
            </nav>
             <a href="#main-menu-toggle"
                class="backdrop"
                tabindex="-1"
                aria-hidden="true" hidden="true"></a>       
      </header>
      <section class="dailyMessage">
            <p>"@Model.CurrentMessage"</p> 
      </section>          
      <section class="content">
                <ul>
                    @foreach(var restaurant in Model.Restaurants) {
                        <li>
                            <a asp-action="Details" asp-route-id="@restaurant.Id" alt="clickable area link to details page">
                                <article class="card">
                                    <img class="centered" src="@restaurant.Thumbnail"/>
                                    <section class="card-info">    
                                        <h3>@restaurant.Name</h3>
                                    </section>        
                                </article>
                            </a>
                        </li>            
                    }
                </ul>    
      </section> 
    </main>
</body>
</html>